{% extends 'base.html' %}

{% block content %}

<div class="container">

	<div class="content-wrapper">

		<h1>{{ beer.name }}</h1>
		<p>{{ beer.brewery }}</p>

	
		<p>{{ beer.description }}</p>
		
		{% if beer.abv %}
		<p>ABV: {{ beer.abv }}%</p>
		{% endif %}

		{% if beer.ibu %}
		<p>IBU: {{ beer.ibu }}</p>
		{% endif %}


		{% if beer.srm %}
		<p>SRM: {{ beer.srm }}</p>
		{% endif %}


        <p>Have you tried this beer?</p>

        <div class="btn-group">
            <button type="button" class="btn btn-default">Like Beer</button>
            <button type="button" class="btn btn-default">Add to Wishlist</button>
            <button type="button" class="btn btn-default">Dislike Beer</button>
        </div>
		

	</div>

</div> <!--/container-->


{% endblock %}