{% extends 'base.html' %}

{% block content %}

<div class="container">

	<div class="content-wrapper">

		<h1>{{ brewery.name }}</h1>

		<p>Location: {{ brewery.city }}</p>

		{% if beer_list %}
			<ul class="list-group">
			{% for beer in beer_list %}
				<li class="list-group-item"><a href="{% url 'beer-detail' beer.id %}">{{ beer.name }}</a></li>
			{% endfor %}
			</ul>
		{% else %}
			<p>There are no beers to display at this time. Please check back later.</p>
		{% endif %}


		

	</div>

</div> <!--/container-->


{% endblock %}