{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class="container">

	<div class="content-wrapper">

		<img src="{% static 'images/brewedwell_logo.png' %}" alt="Brewed Well" />
		
		<h1>Welcome to Brewed Well</h1>
		
		<p class="lead">Brewed Well is a recommendation engine that helps you discover new craft beers based on your personal tastes and preferences.</p>

		{% if not user.is_authenticated %}
			<p><a class="btn btn-primary" href="{% url 'login' %}">Login</a></p>
			<p>Need to create an account? <a href="{% url 'signup' %}">Click here</a>.
		{% endif %}




	</div> <!--/content-wrapper-->



</div><!-- /.container -->

{% endblock %}