body {
  padding-top: 50px;
}

.content-wrapper {
  padding: 40px 15px;
  text-align: center;
}

ul.errorlist {
	list-style: none;
	color: red;
	padding: 0;
	margin: 0;
}

li.greeting {
	line-height: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #999;
}