{% extends 'base.html' %}


{% block content %}

<div class="container">
	<div class="content-wrapper">

		<h1>Login</h1>

		<form method="post" action="" role="form">

			{% csrf_token %}

			<div class="form-group">

				<label for="id_email">Email</label>
				{{ form.email }}
				{{ form.email.errors }}
				
				<label for="id_password">Password</label>
				{{ form.password }}
				{{ form.password.errors }}

			</div>

			<button type="submit" class="btn btn-info btn-block">Log in</button>

		</form>

		<p>Need to create an account? <a href="{% url 'signup' %}">Click here</a>.

	</div> <!--/content-wrapper-->
</div> <!--/container-->

{% endblock %}